# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore data (too big)
data/

# Ignore notebooks
notebooks/

# Ignore logs
logs/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
mulla/

# Ignore VS Code settings
.vscode/

# Ignore 
.DS_Store/